.wrapper
	.container
		.box.box-first
			.box-pic(style="background-image: url('images/ava.jpeg');")
				img(src="images/ava.jpeg" alt="avatar")
			form.box-content(action="" method="post")
				.box-content__item
					input(type="text" placeholder="Лилия")
				.box-content__item
					input(type="text" placeholder="22 июня 1989г")
				.box-content__item
					input(type="text" placeholder="Нововоронеж")
				.box-content__item
					input(type="text" placeholder="efekta9@gmail.com")
		.box.box-second
			.box-second__title Навыки
			form
				.form-skills
					.form-skills__item
						input#html5(type="checkbox" checked)
						label(for="html5") Html5
					.form-skills__item
						input#sass(type="checkbox" checked)
						label(for="sass") SASS
					.form-skills__item
						input#vanillajs(type="checkbox")
						label(for="vanillajs") VanillaJs
					.form-skills__item
						input#git(type="checkbox" checked)
						label(for="git") Git
				.form-skills
					.form-skills__item
						input#css3(type="checkbox" checked)
						label(for="css3") css3
					.form-skills__item
						input#less(type="checkbox" checked)
						label(for="less") less
					.form-skills__item
						input#angular(type="checkbox")
						label(for="angular") angular
					.form-skills__item
						input#foundation(type="checkbox")
						label(for="foundation") foundation
				.form-skills
					.form-skills__item
						input#bem(type="checkbox" checked)
						label(for="bem") бэм
					.form-skills__item
						input#gulp(type="checkbox" checked)
						label(for="gulp") gulp
					.form-skills__item
						input#jquery(type="checkbox" checked)
						label(for="jquery") jquery
					.form-skills__item
						input#bootstrap(type="checkbox" checked)
						label(for="bootstrap") bootstrap

		.box.box-third
			.box-third__pic
				img(src="images/skills.png" alt="pic")
			.box-third__content
				p Мой уровень владения
					span Java Script
				span.box-third__content-num 2 из 10

