.container {
	width: 100%;
	height: 100%;
	max-width: 660px;
	margin: auto;
	background: #fffdfc;
	@media(max-width: 768px) {
		max-width: 100%;
	}
}
.box {
	position: relative;
	padding: 30px 0;
	background: #fffdfc url("../images/bg_1.png");
	background-repeat: repeat;
	background-position: 50% 50%;
	background-size: cover;
	&:after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 2px;
		background: #f0f0f0;
	}
	&-first {
		display: flex;
		justify-content: space-between;
		@media(max-width: 768px) {
			flex-wrap: wrap;
		}
	}
	&-pic {
		width: 138px;
		height: 138px;
		margin: 0 10px 0 20px;
		overflow: hidden;
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		@media(max-width: 768px) {
			margin-left: auto;
			margin-right: auto;
		}
		img {
			display: none;
		}
	}
	&-content {
		position: relative;
		width: calc(100% - 138px);
		padding: 10px;
		@media(max-width: 768px) {
			width: 100%;
		}
		&:after {
			content: "";
			position: absolute;
			right: 5px;
			bottom: -10px;
			width: 184px;
			height: 166px;
			background: url("../images/app.png") no-repeat center;
		}
		&__item {
			padding: 0 0 5px 0;
			margin-bottom: 35px;
			border-bottom: 3px solid rgb(51, 51, 51);
			font-size: 12px;
			font-weight: 500;
			color: #666;
			text-transform: uppercase;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
.box-second {
	padding: 35px 20px;
	&__title {
		font-weight: 500;
		font-size: 18px;
		color: #010101;
		margin-bottom: 23px;
	}
}
.form-skills {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	&__item {
		width: 19%;
		margin-bottom: 35px;
		@media(max-width: 768px) {
			width: 49%;
		}
	}
	label {
		text-transform: uppercase;
		color: #666;
		font-size: 12px;
		font-weight: 500;
	}
}
.box-third {
	display: flex;
	justify-content: space-between;
	@media(max-width: 768px) {
		flex-wrap: wrap;
	}
	&:after {
		display: none;
	}
	&__pic {
		width: 48%;
		margin: 0 20px;
		@media(max-width: 768px) {
			margin: auto;
			width: 100%;
			text-align: center;
		}
		img {
			max-width: 100%;
		}
	}
	&__content {
		width: 48%;
		font-size: 18px;
		font-weight: 500;
		color: #010101;
		@media(max-width: 768px) {
			width: 100%;
			text-align: center;
		}
		p {
			span {
				display: block;
			}
		}
		&-num {
			display: block;
			color: #0093d7;
			font-weight: 600;
			font-size: 50px;
		}
	}
}
